.page {
  height: 100vh;
  background: #dfe8d3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.card {
  width: 420px;
  text-align: center;
}

h2 {
  color: white;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.avatar img {
  width: 90px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  gap: 10px;
}

.input-box {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.input-box i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
}

.input-box input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border-radius: 6px;
  border: none;
  outline: none;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.15);
}

button {
  margin-top: 10px;
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
  background: white;
  font-size: 16px;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.error {
  color: red;
  font-size: 13px;
}
.table-box {
  margin-top: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 14px;
}

th {
  background: #f2f2f2;
}
